.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.title{
    text-align: center;
}

.draw-bg{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.draw-px{
    padding: 8px;
    border: 2px solid black;
}

.color-picker{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 18px ;
    gap: 18px;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.draw-btn{
    background-color: grey;
}

.erase-btn{
    background-color: white;
}