.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

body{
    background-image: url("6796108.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.px-slider{
    width: 35%;
}

.resolution{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 16px;
}

.title{
    text-align: center;
}

.draw-bg{
    display: inline-grid;
    border: 1px solid grey;
    border-radius: 5px;
    height: 400px;
    width: 400px;
    justify-content: center;
    align-items: center;
}

.draw-flex{
    height: inherit;
    width: inherit;
    display: flex;
}

.draw-px{
    height: 100%;
    width: 100%;
    border: 1px solid grey;
    background-color: white;
}

.color-picker{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 18px ;
    gap: 18px;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.draw-btn{
    background-color: grey;
}

.erase-btn{
    background-color: white;
}